
<div style="margin-top: 3vw;">
    <h4>Addresses</h4>
</div>

<button type="button" (click)="onSubmit()" class="btn btn-primary" style="margin-left: 1.5vw;"data-bs-toggle="modal" data-bs-target="#address">ADD NEW ADDRESS</button>

<form [formGroup]="addressForm">
  <!-- Address fields -->
  <div formGroupName="address">
    <div>
      <label for="firstName">First Name</label>
      <input type="text" formControlName="firstName" required>
    </div>

    <div>
      <label for="lastName">Last Name</label>
      <input type="text" formControlName="lastName" required>
    </div>

    <div>
      <label for="fullAddress">Full Address</label>
      <input type="text" formControlName="fullAddress" required>
    </div>

    <div>
      <label for="phoneNumber">Phone Number</label>
      <input type="text" formControlName="phoneNumber" required>
    </div>

    <div>
      <label for="addressLabel">Address Label</label>
      <select formControlName="addressLabel" required>
        <option value="home">Home</option>
        <option value="work">Work</option>
      </select>
    </div>
  </div>

  <!-- Other UserAddressDTO fields: id, isDefault, addressID, and userId -->
  <div>
    <label for="isDefault">Is Default</label>
    <input type="checkbox" formControlName="isDefault">
  </div>

  <button (click)="onSubmit()" type="submit" class="btn btn-primary">Save</button>
</form>




