<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <div class="list">
                <div id="wrap">
                    <div class="asidewrap">
                      <aside>
                        <div class="user">
                            <div><p class="name"><strong>Hala userName!</strong></p><p class="email">user email</p></div></div>
                            <hr style="color: rgb(84, 81, 81);">
                            <ul>
                                <nav class="nav flex-column">
                                    <a  class="nav-link active" [routerLink]="['/userorders']" aria-current="page" href="#"><i class="fa-solid fa-list" style=" color:rgb(254,238,0) ;" > Orders</i>   </a>
                                    <a  class="nav-link" href="#" [routerLink]="['/userorders']" ><i class="fa-solid fa-heart-circle-check"> wish list</i>  </a>
                                    <a   class="nav-link" href="#" [routerLink]="['/addresses']" ><i class="fa-solid fa-map-location-dot"> Address</i>  </a>
                                    <a   class="nav-link" href="#"><i class="fa-solid fa-credit-card"> Payment</i> </a>
                                    <a     (click)="getUser()" class="nav-link" href="#"><i class="fa-solid fa-id-badge"> Profile</i></a>
                                  </nav>
                                  </ul>
                      </aside>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-sm-10" style="background-color: rgb(224, 225, 230);" >
      <app-address ></app-address>
        <!-- <app-user-profile></app-user-profile> -->
      <!--  <app-whish-list></app-whish-list> -->
        <!--
        <app-sign-up></app-sign-up> -->
        <!-- <app-address> </app-address> -->
 <!-- <router-outlet></router-outlet> -->
    </div>
</div>
