<div class="container-fluid">
  <div class="row">
    <div class="countfooter ">

      <div class="descriptionfooter  my-3 ">
        <h6 class="text-muted fontTitl">Superior online shopping in Egypt</h6>
        <span class="font">Offering a world-class customer experience, noon is the top choice for online shopping in
          Egypt. From electronics products to fashion, kids’ toys, baby products, homeware, furniture, sporting and
          outdoor products, beauty products, books and stationery, groceries, and much, much more, the noon Egypt store
          has millions of authentic products. As a customer-centric store, we are committed to providing our customers
          with authentic products, top brands, and long-term quality. We make it easier to buy online with flexible
          payment plans to help you save, regular sales, gift cards, wishlists, the noon shopping app, and other
          benefits exclusive to noon customers.</span>
      </div>
      <div class="descriptionfooter">
        <h6 class="text-muted fontTitl">Shop the best products & top brands at noon Egypt</h6>
        <span class="font">
          If you’re looking for a wide range of products from top brands, noon Egypt has you covered. In our electronics
          department, you’ll find mobile phones and mobile phone accessories, wireless, noise cancelling and in-ear
          headsets, laptops and laptop accessories, audio-visual products, wearable devices, smartwatches and other
          wearable technology, cameras, TVs, video game consoles such as PC and Xbox controllers, and a variety of video
          games. Shop top tech brands in this department, including Apple, Sony, Xiaomi, Huawei, Lenovo, Samsung, and
          others.</span>
      </div>
      <div class="descriptionfooter bord">
        <h6 class="text-muted fontTitl">Stress-free Egypt online shopping</h6>
        <span class="font">You can always have peace of mind when you buy online at noon. We make online shopping in
          Cairo, Giza and other Egypt cities as easy as possible, with a number of features and flexible payment plans
          that make shopping simpler, faster, and better. Our Buy Now, Pay Later plans, these include valU (BNPL over 60
          months at 0% downpayment, 0% purchase fees) and Tabby (orders split over 4 payments at 0% interest rate).
          Payment options include cash on delivery as well as credit, debit cards and Mobile Wallet (VCN). For even more
          convenience, we offer installments up to 36 months with National Bank of Egypt, CIB, Banque Misr, HSBC,
          Emirates NBD and more Returns are quick and easy, with a 15-day return policy.</span>
        </div>
        </div>
        </div>
        </div>
