


<!-- <div class="countianer-fluid mb-4">
  <div class="row bg-danger ">
    <div class="col-md-12 bg-info">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide><img src="../../../assets/images/slid-1.png" class="img-fluid" alt=""></ng-template>

        <ng-template carouselSlide><img  src="../../../assets/images/slid2.png" class="img-fluid" alt=""></ng-template>
        <ng-template carouselSlide><img  src="../../../assets/images/slid3.png" class="img-fluid" alt=""></ng-template>
        <ng-template carouselSlide><img  src="../../../assets/images/slid-4.png" class="img-fluid" alt=""></ng-template>
        <ng-template carouselSlide><img  src="../../../assets/images/slid-5.png" class="img-fluid" alt=""></ng-template>
        <ng-template carouselSlide><img  src="../../../assets/images/slid-6.png" class="img-fluid" alt=""></ng-template> -->

      <!-- </owl-carousel-o>
 <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide="prev"
          >
            <span
              id="btn-slider"
              class="carousel-control-prev-icon p-sm-4"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide="next"
          >
            <span
              id="btn-slider"
              class="carousel-control-next-icon p-sm-4"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Next</span>
          </button>
  </div>
  </div>
</div> -->

  <div class="container-fluid mb-4 m-auto px-3">
    <div class="row d-flex align-items-center">
      <!-- <div class="col-md-12 d-flex align-items-center"> -->


 
        <div
          id="carouselExampleDark"
          class="carousel carousel-dark slide w-100"
          data-bs-ride="carousel"
        >
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="0"
              style="background-color: rgb(254, 238, 0)"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="1"
              style="background-color: rgb(254, 238, 0)"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="2"
              style="background-color: rgb(254, 238, 0)"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              data-bs-target="#carouselExampleDark"
              data-bs-slide-to="3"
              style="background-color: rgb(254, 238, 0)"
              aria-label="Slide 4"
            ></button>
            <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="5"
            style="background-color: rgb(254, 238, 0)"
            aria-label="Slide 5"
          ></button>
          <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="5"
          style="background-color: rgb(254, 238, 0)"
          aria-label="Slide 6"
        ></button>
          </div>

          <div class="carousel-inner m-auto">
            <div class="carousel-item active " data-bs-interval="1500">
              <img
                src="../../../assets/images/slid-1.png"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item" data-bs-interval="1500">
              <img
                src="../../../assets/images/slid2.png"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item " data-bs-interval="1500">
              <img
                src="../../../assets/images/slid3.png"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item" data-bs-interval="1500">
              <img
                src="  ../../../assets/images/slid-4.png"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item" data-bs-interval="1500">
              <img
                src="  ../../../assets/images/slid-5.png"
                class="d-block w-100"
                alt="..."
              />
            </div>
            <div class="carousel-item" data-bs-interval="1500">
              <img
                src="  ../../../assets/images/slid-6.png"
                class="d-block w-100"
                alt="..."
              />
            </div>





          </div>






          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide="prev"
          >
            <span
              id="btn-slider"
              class="carousel-control-prev-icon p-sm-4"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide="next"
          >
            <span
              id="btn-slider"
              class="carousel-control-next-icon p-sm-4"
              aria-hidden="true"
            ></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      </div>
    <!-- </div> -->

