<div class="container-fluid ">
  <div class="row bg-danger d-flex">




    <div class="infocuscol col-md-4 d-flex" >


      <div class="in focus  ">

        <div class="reasons to shop py-2">
          <h4>More reasons to shop</h4>
        </div>
       <div class="row">
        <div class="col-md-6">


       <div class="in focus-imge my-3">
         <img class="w-100" src="../../../assets/images/044bd460-a236-46e2-ada1-4c877797cefe.png"  alt="">
       </div>
      </div>

      <div class="col-md-6">
       <div class="in focus-imge w-100">
         <img class="w-100" src="../../../assets/images/83540370-8f9e-4117-9d93-7f20d9e55789.png"  alt="">
       </div>
       </div>
       <div class="col-md-6">
        <div class="in focus-imge w-100">
          <img class="w-100" src="../../../assets/images/83540370-8f9e-4117-9d93-7f20d9e55789.png"  alt="">
        </div>
        </div>
        <div class="col-md-6">
          <div class="in focus-imge w-100">
            <img class="w-100" src="../../../assets/images/83540370-8f9e-4117-9d93-7f20d9e55789.png"  alt="">
          </div>
          </div>



      </div>
    </div>
    </div>

    <div class="infocuscol col-md-4" >

      <div class="in focus  ">
            <div class="w-100 py-3">
              <img src="../../../assets/images/d00cc0ae-ec34-49ef-b551-aec039a5db9d.png" class="w-100" alt="">
            </div>
            <div class="row">
              <div class="col-md-6">

                <div class="in focus-imge my-3">
                  <img class="w-100" src="../../../assets/images/b5664f21-55b3-4506-a9e4-1844f294613d.png"  alt="">
                </div>
              </div>
              <div class="col-md-6">
                <div class="in focus-imge my-3">
                  <img class="w-100" src="../../../assets/images/b5664f21-55b3-4506-a9e4-1844f294613d.png"  alt="">
                </div>

              </div>


              <div class="col-md-6">

                <div class="in focus-imge my-3">
                  <img class="w-100" src="../../../assets/images/b5664f21-55b3-4506-a9e4-1844f294613d.png"  alt="">
                </div>
              </div>
              <div class="col-md-6">
                <div class="in focus-imge my-3">
                  <img class="w-100" src="../../../assets/images/b5664f21-55b3-4506-a9e4-1844f294613d.png"  alt="">
                </div>

              </div>
            </div>





      </div>

    </div>


   <div class="infocuscol col-md-4" >

   <div class="in focus  ">
    <div class="py-2">
      <h4>in focus</h4>
    </div>

    <div class="in focus-imge my-3">
      <img class="w-100" src="../../../assets/images/ed5b1a18-8ef9-4be0-b642-2ac58472c4cd.png"  alt="">
    </div>

    <div class="in focus-imge w-100">
      <img class="w-100" src="../../../assets/images/ed5b1a18-8ef9-4be0-b642-2ac58472c4cd.png"  alt="">
    </div>


    </div>
   </div>





 </div>

