
	<div class="main " >
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form>
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="First Name" [(ngModel)]="SignUpUser.FirstName">
              <input type="text" name="txt" placeholder="Last Name" [(ngModel)]="SignUpUser.LastName">
              <input type="number" name="number" placeholder="Phone Number" [(ngModel)]="SignUpUser.PhoneNumber" >
					<input type="email" name="email" placeholder="Email" [(ngModel)]="SignUpUser.Email">
					<input type="password" name="pswd" placeholder="Password"[(ngModel)]="SignUpUser.Password">
					<button (click)="OnSignUp()">Sign up</button>
				</form>
			</div>


			<div class="login">
				<form>
         
					<label for="chk" aria-hidden="true">Login</label>
					<input type="email" name="email" placeholder="Email" [(ngModel)]="LoginInUser.Email">
					<input type="password" name="pswd" placeholder="Password" [(ngModel)]="LoginInUser.password">
					<button (click)="OnLogIn()">Login</button>
				</form>
			</div>
	</div>
