<div class="container-fluid mb-5">
<div class="row d-flex">
  <div class="col-md-8 ">
    <div class="d-flex">
      <h5 class="fw-bold mx-2">Cart</h5>
      <span> (<strong>{{counter}}</strong> items)</span>
    </div>

    <div class="">
     <!-- <a href=""><img src="assets/images/b5269e16-510b-4ae5-b93b-79a6b4193d30.png" class="w-100" alt=""></a> -->
    </div>

    <div class="row d-flex mx-4" *ngFor="let item of Cart">

      <div class="col-md-2" >

          <div>
            <img [src]="item.product.images?.[0]"  alt="{{item.product.name}}"></div>
        </div>

        <div class="col-md-10 ">

        <div class="bg-white d-flex justify-content-between">
          <div>
            <span class="text-muted">{{item.product.brand}}</span>
            <p>{{item.product.name}}</p>
            <span class="text-muted">Order in 1 hrs 27 mins</span>
           <div class="d-flex">
             <p class="text-muted">Free delivery</p>
           <span class="mx-1"> by </span>
           <p class="text-muted"> Tomorrow, Aug 1 </p>
           </div>

           <span class="mx-1">Sold by</span>
           <span>noon</span>

           <div>
             <img src="https://f.nooncdn.com/s/app/com/noon/icons/warranty.svg" alt="">
             <span>1 year warranty</span>
           </div>


           <div>

             <button type="button" class=" btn border-0 mx-1"><img src="https://f.nooncdn.com/s/app/com/noon/icons/wishlist.svg" class="mx-1" alt=""> Move to Wishlist</button>
             <button (click)="RemoveItem(Cart, item)" class=" btn border-0" type="button"><img src="https://f.nooncdn.com/s/app/com/noon/icons/trash.svg" class="mx-1" alt="">Remove</button>
           </div>
           <!-- <button type="button" class="btn bg-transparent btn-primary text-primary my-3">Continue shopping</button> -->

          </div>
          




            <div class="mx-4" >
              <div class="my-5">
                <h5>{{item.product.price}} <small>EGP</small> </h5>
              </div>
              <!-- <div class="dropdown mt-5">
                <a class="btn border border-1 dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        
                </a> -->
                <i (click)="decresQuantity(item.product.sku,item)" class="fa-solid fa-circle-minus" style="color: #ee3f3f;cursor: pointer;"></i>
               <strong> {{item.quantity}} </strong>
                <i (click)="increesQuantity(item.product.sku,item)" class="fa-solid fa-circle-plus" style="color: #34d714;cursor: pointer;"></i>
<!-- 
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" >2</a></li>
                  <li><a class="dropdown-item" >3</a></li>
                  <li><a class="dropdown-item" >4</a></li>
                </ul>
              </div> -->

              <div>
                <img src="assets/images/fulfilment_express_v2-en.svg" alt="">
              </div>

              </div>

          </div>



        </div>
<hr>


  </div>

</div>
<div class="col-md-4">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Order Summary</h5>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <span class="input-group-text bg-primary" id="basic-addon2">APPLY</span>
      </div>




      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary bg-transparent text-primary w-100 d-flex justify-content-between fw-bold" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
<span >view available Offers</span>
<span >> </span>
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<div class="d-flex justify-content-between">
  <div>
    <p>Subtotal
      (1 item)</p>
  </div>

  <div>
    <p>EGP 5699.00</p>
  </div>



</div>

<div class="d-flex justify-content-between accordion bord">
  <div class="d-flex">
    <span class="my-2 ">Shipping</span>

    <button type="button" class="btn text-primary p-0 m-0 " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Details


    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel1">
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
           <p>
            Shipped and delivered by Express
            Free
            Samsung Galaxy A13 Blue 128GB 4GB 4G LTE- Egypt Version
            Total Shipping Fee
            Free
           </p>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <p>EGP 5699.00</p>
  </div>


        
  </div>
  <div class="ibox-content">
    <button class="btn btn-primary pull-right"><i class="fa fa fa-shopping-cart"></i> Checkout</button>
    <button class="btn btn-white"><i class="fa fa-arrow-left"></i> Continue shopping</button>

</div>

<div class="d-flex justify-content-between">
  <div class="d-flex">

    <p class="fw-bolder mx-1">Total</p>
    <span style="font-size:0.8rem">(Inclusive of VAT)</span>

  </div>


  <div>
    <p class="fw-bolder">EGP 5699.00</p>
  </div>
</div>


    <button  class="btn btn-primary text-white fw-bolder w-100" style="font-size:0.9rem">CHECKOUT</button>

    </div>
  </div>


  <div class=" d-flex border border-success border-2 rounded-4 my-4">
    <div class="w-25 d-flex align-items-center ">
        <img src="https://k.nooncdn.com/s/app/com/noon/images/valu-logo-v4.svg" class="w-100" alt="">

    </div>

    <div class="tex p-2">
        <span>
            Pay EGP 1866.33 monthly over 3 months with 0% interest and 0% purchase fees
        </span>
    </div>


</div>




</div>
</div>
<div class="col-md-3">
  <div class="ibox">
      <div class="ibox-title">
          <h5>Cart Summary</h5>
      </div>
      <div class="ibox-content">
          <span>
              Total    <small>without shipping</small>
          </span>
          <h2 class="font-bold">
             {{Total}}  <small>EGP</small> 
          </h2>

          <hr>
          <span class="text-muted small">
              *For United States, France and Germany applicable sales tax will be applied
          </span>
          <div class="m-t-sm">
              <div class="btn-group">
              <a  class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</a>
              <a  class="btn btn-white btn-sm"> Cancel</a>
              </div>
          </div>
      </div>
  </div>

  <div class="ibox">
      <div class="ibox-title">
          <h5>Support</h5>
      </div>
      <div class="ibox-content text-center">
          <h3><i class="fa fa-phone"></i> +43 100 783 001</h3>
          <span class="small">
              Please contact with us if you have any questions. We are avalible 24h.
          </span>
      </div>
  </div>

  <div class="ibox">
      <div class="ibox-content">

          <p class="font-bold">
          Other products you may be interested
          </p>
          <hr>
          <div>
              <a  class="product-name"> Product 1</a>
              <div class="small m-t-xs">
                  Many desktop publishing packages and web page editors now.
              </div>
              <div class="m-t text-righ">

                  <a  class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
              </div>
          </div>
          <hr>
          <div>
              <a  class="product-name"> Product 2</a>
              <div class="small m-t-xs">
                  Many desktop publishing packages and web page editors now.
              </div>
              <div class="m-t text-righ">

                  <a  class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
</div>
