<!-- <app-navbar></app-navbar> -->

 <!-- <app-sign-up ></app-sign-up>  -->
<!-- <app-slider-min></app-slider-min>
 -->
  <!-- <app-product></app-product>
 <app-producd-detailes></app-producd-detailes> -->

 <!-- <app-navbar></app-navbar> -->
<!-- <app-profile></app-profile> -->
 <router-outlet></router-outlet>
 <!-- <app-payment></app-payment> -->
<app-address></app-address>
 <!-- <app-home></app-home> -->
 <!-- <app-slider-min></app-slider-min>
 <app-product></app-product> -->

 <app-footer></app-footer>
