<header class="">

  <nav class="navbar navbar-expand-lg navbar-light carousel-pointer">
    <div class="container-fluid">
      <a class="navbar-brand " href="#">
        <div class="image-nav ms-3">
          <img src="../assets/images/noon-logo-en.svg" class="w-75" alt=""/></div
      ></a>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active d-flex align-items-center"
              aria-current="page"
              href="#"
            >
              <li class="nav-item m-0 p-0 d-flex align-items-center">
                <div class="flag-image d-inline">
                  <img src="../assets/images/eg.svg" class="mx-2" alt="" />
                </div>

                <div class="adress-map m-0 p-0">
                  <div class="imge-arow d-flex flex-nowrap">
                    <a  class="text-decoration-none text-dark"  [routerLink]="['/profilesettings']" >DeliverTo</a>
                    <img src="../assets/images/dropdownArrow.svg" alt="" />
                  </div>
                  <p class="fw-bold" >Cairo</p>
                </div>
              </li>
            </a>
          </li>
        </ul>
      </div>

      <form class="d-flex w-50">
        <input
          class="form-control me-2  search"
          type="search"
          placeholder="What are you looking for? "
          aria-label="Search"
        />
      </form>
      <div class="collapse navbar-collapse pb-4">
        <ul class="navbar-nav me-auto mt-4 mb-lg-0">
          <li class="nav-item m-1">
            <a class="nav-link" href="#">العربية</a>
          </li>

          <div class="lines bg-black "></div>
          <li class="nav-item dropdown mt-2">
            <!-- <a
              class="nav-link dropdown-toggle d-flex"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <div class="div">
                <span class="userName">Ahlan Ahmed!</span>
                <p class="fw-bold">My Account</p>
              </div>
            </a> -->
            <div>
              <!-- <button *ngIf="!isLogIn"  type="button" class="btn  colortext px-2 d-flex" data-bs-toggle="modal" data-bs-target="#loginModal" data-bs-whatever="@mdo"> -->
                <button *ngIf="!isLogIn"  type="button" class="btn  colortext px-2 d-flex" routerLink="/signIn" >
                <span class="textbold px-1">SignIn</span>
                <i class="fa-regular fa-user"></i>
              </button>
            </div>

            <button *ngIf="isLogIn" type="button" class="btn  colortext d-flex px-2" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
              <span class="textbold px-1">Sign Out </span>
              <i class="fa fa-sign-out" ></i>
            </button>

            <!-- ----------------sign in form ----------------------->




<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>

      </div>
      <div class="modal-body">
        <!-- <form [formGroup]="signInForm" (ngSubmit)="log()"> -->
          <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
          <div class="d-flex my-4">

            <label for="email" class="mx-4">Email : </label>
            <input   type="email" id="email" formControlName="email" class="rounded" />
            <div *ngIf="signInForm.get('email')?.invalid && signInForm.get('email')?.touched">
              <small class="text-danger">Please enter a valid email address.</small>
            </div>

          </div>


          <div class="d-flex my-4">
            <label for="password" class="mx-2">Password : </label>
            <input type="password" id="password" formControlName="password" class="rounded" />
            <div *ngIf="signInForm.get('password')?.invalid && signInForm.get('password')?.touched">
              <small class="text-danger">Please enter your password.</small>
            </div>
          </div>
        <!-- </form> -->
        <button type="button" class="btn btn-primary" [disabled]="signInForm.invalid" (click)="log()">Sign In</button>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn  colortext  px-0 ms-1" data-bs-toggle="modal" data-bs-target="#registrationModal" data-bs-whatever="@mdo"><span class="textbold">Sign Up </span>  <i class="fa-regular fa-user "></i></button>

      </div>
    </div>
  </div>
</div>

<!-----------------------Register ---------------------------->
<div class="modal fade" id="registrationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"> 
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title " id="exampleModalLabel" >Sign Up</h5>
      </div>
      <div class="modal-body">
        <!-- <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" class="registration-form"> -->
          <div>
            <label for="DisplayName">Display Name:</label>
            <input type="text" id="DisplayName" formControlName="DisplayName" required>
          </div>

          <div>
            <label for="FirstName">First Name:</label>
            <input type="text" id="FirstName" formControlName="FirstName" required>
          </div>

          <div>
            <label for="LastName">Last Name:</label>
            <input type="text" id="LastName" formControlName="LastName" required>
          </div>

          <div>
            <label for="Email">Email:</label>
            <input type="email" id="Email" formControlName="Email" required>
            <div *ngIf="registrationForm.get('Email')?.invalid && registrationForm.get('Email')?.touched">
              <small class="text-danger">Please enter a valid email address.</small>
            </div>
          </div>

          <div>
            <label for="PhoneNumber">Phone Number:</label>
            <input type="tel" id="PhoneNumber" formControlName="PhoneNumber">
          </div>

          <div>
            <label for="Password">Password:</label>
            <input type="password" id="Password" formControlName="Password" required>
            <div *ngIf="registrationForm.get('Password')?.invalid && registrationForm.get('Password')?.touched">
              <small class="text-danger">Password must have at least 6 characters.</small>
            </div>
          </div>

          <button type="submit" [disabled]="registrationForm.invalid" >Create an Account</button>
        <!-- </form> -->
      </div>

    </div>
  </div>
</div>


            <ul
              class="dropdown-menu"
              aria-labelledby="navbarDropdown"
            >
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li>
                <a class="dropdown-item" href="#">Another action</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#"
                  >Something else here</a
                >
              </li>
            </ul>
          </li>
          <div class="lines bg-black mx-3"></div>

          <li class="nav-item mt-3">
            <div class="whilist d-flex">
              <span class="mx-1 textbold">Wishlist</span>
              <img class="mx-1" src="../assets/images/wishlist.svg" alt="" />
            </div>
          </li>
          <div class="lines bg-black"></div>
          <a href="" class="text-decoration-none text-dark" [routerLink]="['/cart']" >
          <li class="nav-item mt-3 mx-3">

            <div class="cartIconContainer d-flex" routerLink="/cart">
              <span class="textbold">Cart</span>
              <div style="position: relative; display: inline-block;">
                <div style="position: relative; display: inline-block;">
                  <img src="../assets/images/cart.svg" alt="" />
                  <span style="position: absolute; top: -6px; right: -6px; background-color: blue; color: white; border-radius: 50%; padding: 2px 5px; font-size: 10px;">
                    {{counter}}
                  </span>
                </div>

              </div>            </div>
          </li>
        </a>
        </ul>
      </div>
    </div>
  </nav>

     <!-- ============================================== -->
  <div >
    <ul class="slid d-flex ">
      <div class="dropdown1" style="width: 15rem">
        <button
          class="btn rounded-0 dropdown-toggle text-primary w-100 border-0"
          type="button"
          id="dropdownMenuButton1"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="me-5 pe-5 text-primary fw-bold">
            All Categories</span
          >
        </button>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
          <li *ngFor="let category of catogries" ><a class="dropdown-item carousel-pointer"  (click)=" categoryNavigate(category.id)" >{{category.name}}</a></li>
        </ul>

      </div>



      <div class="dropdown1" >
        <button class="btn btn-light rounded-0"type="button" id="dropdownMenuButton2" data-mdb-toggle="dropdown" aria-expanded="false">
          <span class="text-center fw-bold" (click)=" categoryNavigate(3)" >Electronics</span>
        </button>
        <ul class="dropdown-menu center " aria-labelledby="dropdownMenuButton">

          <div class="container ">
            <div class="row   ">
              <div class="col-md-3">
                <span class="fw-bolder " >CATEGORIES</span>
                <ul class="CATEGORIESUL">
                  <a *ngFor="let item of childrenCategories; let i = index">
                    <li (click)=" categoryNavigate(item.id)" class="nav-link " href="#" *ngIf="i === 0 || i === 1">{{ item.name }}</li>
                  </a>
                </ul>

          </div>
              <div class="col-md-4">
                <span class="fw-bolder py-2">TOP BRANDS</span>
                <div class="row gy-2 ">
                  <div class="col-sm-5 border mx-1 p-2">
                  <div class="brand-logo ">
                    <img src="https://z.nooncdn.com/cms/pages/20210408/9852ea7d5c33973a1761053b129a047b/drop-brand-05.png" class="w-100" alt="">
                  </div>
                </div>
                  <div class="col-md-5 border mx-1 p-2 ">
                    <div class="brand-logo ">
                      <img src="https://z.nooncdn.com/cms/pages/20210408/9852ea7d5c33973a1761053b129a047b/drop-brand-06.png" class="w-100" alt="">
                    </div>
                    </div>
                </div>
              </div>


              <div class="col-sm-5">

                <div class="row  d-flex align-items-center">
                  <div class="col-md-7" >
                    <div class="img-nav-brand ">
                      <!-- <h2>hi</h2> -->
                     <img src="../assets/images/en_drop-01.png" class="w-100" alt="">
                    </div>
                  </div>
                  <div class="col-md-5 " >
                    <div class="img-nav-brand ">
                      <!-- <h2>hi</h2> -->
                     <img src="https://z.nooncdn.com/cms/pages/20210408/2792ffeaded707bd95f25bd124a83af9/en_drop-02.png" class="w-100" alt="">
                    </div>
                  </div>
                </div>
              </div>
              </div>
          </div>
      </ul>
      </div>

      <div class="dropdown1  " >
        <button
          class="btn btn-light rounded-0"
          type="button"
          id="dropdownMenuButton3"
          data-mdb-toggle="dropdown "
          aria-expanded="false"
        >
          <span class="text-center fw-bold" (click)=" categoryNavigate(4)">MOBILES</span>
        </button>

        <ul class="dropdown-menu center "aria-labelledby="dropdownMenuButton">
            <div class="container ">
              <div class="row   ">
                <div class="col-md-3">
                  <span class="fw-bolder ">CATEGORIES</span>
                  <ul class="CATEGORIESUL">
                    <a *ngFor="let item of childrenCategories; let i = index">
                      <li (click)=" categoryNavigate(item.id)" class="nav-link" href="#" *ngIf="i === 2 || i === 3">{{ item.name }}</li>
                      </a>
                  </ul>
                </div>
                <div class="col-md-4">
                  <span class="fw-bolder py-2">TOP BRANDS</span>
                  <div class="row gy-2 ">
                    <div class="col-sm-5 border mx-1 p-2">
                    <div class="brand-logo ">
                      <img src="https://z.nooncdn.com/cms/pages/20210410/2a23ead9569718f23f16e78305f07230/drop-brand-03.png" class="w-100" alt="">
                    </div>

                    </div>

                    <div class="col-md-5 border mx-1 p-2 ">
                      <div class="brand-logo ">
                        <img src="https://z.nooncdn.com/cms/pages/20210410/2a23ead9569718f23f16e78305f07230/drop-brand-01.png" class="w-100" alt="">
                      </div>

                      </div>
                  </div>
                </div>


                <div class="col-sm-5">

                  <div class="row  d-flex align-items-center">
                    <div class="col-md-7" >
                      <div class="img-nav-brand ">
                        <!-- <h2>hi</h2> -->
                       <img src="https://z.nooncdn.com/cms/pages/20210413/05e3cb23daf67ccd318c9e9aca852093/en_drop-01.png" class="w-100" alt="">
                      </div>
                    </div>
                    <div class="col-md-5 " >
                      <div class="img-nav-brand ">
                        <!-- <h2>hi</h2> -->
                       <img src="https://z.nooncdn.com/cms/pages/20210413/05e3cb23daf67ccd318c9e9aca852093/en_drop-02.png" class="w-100" alt="">
                      </div>
                    </div>
                  </div>
                </div>
                </div>
            </div>
        </ul>
      </div>


      <div class="dropdown1" >
        <button
          class="btn btn-light rounded-0"
          type="button"
          id="dropdownMenuButton4"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="text-center fw-bold" (click)=" categoryNavigate(5)">MEN</span>
        </button>

        <ul class="dropdown-menu center "aria-labelledby="dropdownMenuButton">
          <div class="container ">
            <div class="row   ">
              <div class="col-md-3">
                <span class="fw-bolder ">CATEGORIES</span>
                <ul class="CATEGORIESUL">
                  <a *ngFor="let item of childrenCategories; let i = index">
                    <li (click)=" categoryNavigate(item.id)" class="nav-link" href="#" *ngIf="i === 4 || i === 5">{{ item.name }}</li>
                  </a>
                </ul>
              </div>
              <div class="col-md-4">
                <span class="fw-bolder py-2">TOP BRANDS</span>
                <div class="row gy-2 ">
                  <div class="col-sm-5 border mx-1 p-2">
                  <div class="brand-logo ">
                    <img src="../assets/images/nike.png" class="w-100" alt="">
                  </div>

                  </div>

                  <div class="col-md-5 border mx-1 p-2 ">
                    <div class="brand-logo ">
                      <img src="../assets/images/addedas.png" class="w-100" alt="">
                    </div>

                    </div>

                    <div class="col-md-5 border mx-1 p-2">
                      <div class="brand-logo ">
                        <img src="../assets/images/defacto.png" class="w-100" alt="">
                      </div>
                    </div>
                    <div class="col-md-5 border mx-1 p-2">
                      <div class="brand-logo ">
                        <img src="https://a.nooncdn.com/cms/pages/20221012/37f037c8d251917918ba38da763fbb60/en_mb_eg-logo-03.png" class="w-100" alt="">
                      </div>
                    </div>
                </div>
              </div>


              <div class="col-sm-5">

                <div class="row  d-flex align-items-center">
                  <div class="col-md-7" >
                    <div class="img-nav-brand ">
                      <!-- <h2>hi</h2> -->
                     <img src="https://a.nooncdn.com/cms/pages/20230525/0a7d593c12f04a02b053e03ce031acf5/en_dk_eg-drop-01.png" class="w-100" alt="">
                    </div>
                  </div>

                  <div class="col-md-5 " >
                    <div class="img-nav-brand ">
                      <!-- <h2>hi</h2> -->
                     <img src="https://a.nooncdn.com/cms/pages/20230525/0a7d593c12f04a02b053e03ce031acf5/en_dk_eg-cat-02.png" class="w-100" alt="">
                    </div>
                  </div>
                </div>
              </div>
              </div>
          </div>
      </ul>
      </div>

      <div class="dropdown1" >
        <button
          class="btn btn-light rounded-0"
          type="button"
          id="dropdownMenuButton5"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="text-center fw-bold" (click)=" categoryNavigate(6)">WOMEN</span>
        </button>

        <ul class="dropdown-menu center " aria-labelledby="dropdownMenuButton">
          <div class="container ">
            <div class="row   ">
              <div class="col-md-3">
                <span class="fw-bolder ">CATEGORIES</span>
                <ul class="CATEGORIESUL">
                  <a *ngFor="let item of childrenCategories; let i = index">
                    <li (click)=" categoryNavigate(item.id)" class="nav-link" href="#" *ngIf="i === 6 || i ===7 ">{{ item.name }}</li>
                  </a>
                </ul>
              </div>
              <div class="col-md-4">
                <span class="fw-bolder py-2">TOP BRANDS</span>
                <div class="row gy-2 ">
                  <div class="col-sm-5 border mx-1 p-2">
                  <div class="brand-logo ">
                    <img src="../assets/images/nike.png" class="w-100" alt="">
                  </div>
                  </div>
                  <div class="col-md-5 border mx-1 p-2 ">
                    <div class="brand-logo ">
                      <img src="../assets/images/addedas.png" class="w-100" alt="">
                    </div>

                    </div>

                    <div class="col-md-5 border mx-1 p-2">
                      <div class="brand-logo ">
                        <img src="../assets/images/defacto.png" class="w-100" alt="">
                      </div>
                    </div>
                    <div class="col-md-5 border mx-1 p-2">
                      <div class="brand-logo ">
                        <img src="https://a.nooncdn.com/cms/pages/20221012/37f037c8d251917918ba38da763fbb60/en_mb_eg-logo-03.png" class="w-100" alt="">
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="row  d-flex align-items-center">
                  <div class="col-md-7" >
                    <div class="img-nav-brand ">
                      <!-- <h2>hi</h2> -->
                     <img src="https://a.nooncdn.com/cms/pages/20230525/0a7d593c12f04a02b053e03ce031acf5/en_dk_eg-drop-1.png" class="w-100" alt="">
                    </div>
                  </div>
                  <div class="col-md-5 " >
                    <div class="img-nav-brand ">
                      <!-- <h2>hi</h2> -->
                     <img src="https://a.nooncdn.com/cms/pages/20230525/0a7d593c12f04a02b053e03ce031acf5/en_dk_eg-drop-02.png" class="w-100" alt="">
                    </div>
                  </div>
                </div>
              </div>
              </div>
          </div>
        </ul>
      </div>


      <div class="dropdown1" >
        <button class="btn btn-light rounded-0" type="button" id="dropdownMenuButton6" data-mdb-toggle="dropdown" aria-expanded="false">
          <span class="text-center fw-bold" (click)=" categoryNavigate(7)">HOME</span>
        </button>
        <ul class="dropdown-menu center " aria-labelledby="dropdownMenuButton">
          <div class="container ">
            <div class="row   ">
              <div class="col-md-3">
                <span class="fw-bolder ">CATEGORIES</span>
                <ul class="CATEGORIESUL">
                  <a *ngFor="let item of childrenCategories; let i = index">
                    <li (click)=" categoryNavigate(item.id)" class="nav-link" href="#" *ngIf="i === 8 || i === 9">{{ item.name }}</li>
                    </a>
                </ul>
              </div>
              <div class="col-md-4">
                <span class="fw-bolder py-2">TOP BRANDS</span>
                <div class="row gy-2 ">
                  <div class="col-sm-5 border mx-1 p-2">
                  <div class="brand-logo ">
                    <img src="https://a.nooncdn.com/cms/pages/20230116/0030ae8ea752e7930c2c4fbd25a0037a/en_dk_eg-brand-01.png" class="w-100" alt="">
                  </div>
                  </div>
                  <div class="col-md-5 border mx-1 p-2 ">
                    <div class="brand-logo ">
                      <img src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-12.png" class="w-100" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="row  d-flex align-items-center">
                  <div class="col-md-7" >
                    <div class="img-nav-brand ">
                      <!-- <h2>hi</h2> -->
                     <img src="https://z.nooncdn.com/cms/pages/20200211/a4434d79fa27923799e439818a30d655/en_drop-01.png" class="w-100" alt="">
                    </div>
                  </div>
                  <div class="col-md-5 " >
                    <div class="img-nav-brand ">
                      <!-- <h2>hi</h2> -->
                     <img src="https://z.nooncdn.com/cms/pages/20200211/a4434d79fa27923799e439818a30d655/en_drop-02.png" class="w-100" alt="">
                    </div>
                  </div>
                </div>
              </div>
              </div>
          </div>
        </ul>
      </div>


      <div class="dropdown1" >
        <button
          class="btn btn-light rounded-0"
          type="button"
          id="dropdownMenuButton7"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="text-center fw-bold" (click)=" categoryNavigate(8)">Beauty & Health</span>
        </button>

        <ul class="dropdown-menu center " aria-labelledby="dropdownMenuButton">
          <div class="container ">
            <div class="row   ">
              <div class="col-md-3">
                <span class="fw-bolder ">CATEGORIES</span>
                <ul class="CATEGORIESUL">
                  <a *ngFor="let item of childrenCategories; let i = index">
                    <li (click)=" categoryNavigate(item.id)" class="nav-link" href="#" *ngIf="i === 10 || i === 11">{{ item.name }}</li>
                  </a>
                </ul>
              </div>
              <div class="col-md-4">
                <span class="fw-bolder py-2">TOP BRANDS</span>
                <div class="row gy-2 ">
                  <div class="col-sm-5 border mx-1 p-2">
                  <div class="brand-logo ">
                    <img src="https://z.nooncdn.com/rn/brands_v1/maybelline.png" class="w-100" alt="">
                  </div>
                  </div>
                  <div class="col-md-5 border mx-1 p-2 ">
                    <div class="brand-logo ">
                      <img src="https://z.nooncdn.com/rn/brands_v1/loreal.png" class="w-100" alt="">
                    </div>
                    </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="row  d-flex align-items-center">
                  <div class="col-md-7" >
                    <div class="img-nav-brand ">
                      <!-- <h2>hi</h2> -->
                     <img src="https://a.nooncdn.com/cms/pages/20220912/8ae729efaf8cd9aca434a3cc62ac3297/en_dk_eg-drop-01.png" class="w-100" alt="">
                    </div>
                  </div>
                  <div class="col-md-5 " >
                    <div class="img-nav-brand ">
                      <!-- <h2>hi</h2> -->
                     <img src="https://a.nooncdn.com/cms/pages/20220912/8ae729efaf8cd9aca434a3cc62ac3297/en_dk_eg-drop-02.png" class="w-100" alt="">
                    </div>
                  </div>
                </div>
              </div>
              </div>
          </div>
        </ul>
      </div>


      <div class="dropdown1" >
        <button class="btn btn-light rounded-0" type="button" id="dropdownMenuButton8" data-mdb-toggle="dropdown" aria-expanded="false">
          <span class="text-center fw-bold" (click)=" categoryNavigate(9)">Baby & Toys</span>
        </button>

        <ul class="dropdown-menu center " aria-labelledby="dropdownMenuButton">
          <div class="container ">
            <div class="row   ">
              <div class="col-md-3">
                <span class="fw-bolder ">CATEGORIES</span>
                <ul class="CATEGORIESUL">
                  <a *ngFor="let item of childrenCategories; let i = index">
                    <li (click)=" categoryNavigate(item.id)" class="nav-link" href="#" *ngIf="i === 12 || i === 13">{{ item.name }}</li>
                  </a>
                </ul>
              </div>
              <div class="col-md-4">
                <span class="fw-bolder py-2">TOP BRANDS</span>
                <div class="row gy-2 ">
                  <div class="col-sm-5 border mx-1 p-2">
                  <div class="brand-logo ">
                    <img src="https://z.nooncdn.com/rn/brands_v1/pampers.png" class="w-100" alt="">
                  </div>
                  </div>
                  <div class="col-md-5 border mx-1 p-2 ">
                    <div class="brand-logo ">
                      <img src="https://z.nooncdn.com/rn/brands_v1/baby_joy.png" class="w-100" alt="">
                    </div>
                    </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="row  d-flex align-items-center">
                  <div class="col-md-7" >
                    <div class="img-nav-brand ">
                      <!-- <h2>hi</h2> -->
                     <img src="https://z.nooncdn.com/cms/pages/20201011/0533a81bc35c9531f46de4aab2c014bb/en_drop-01.png" class="w-100" alt="">
                    </div>
                  </div>
                  <div class="col-md-5 " >
                    <div class="img-nav-brand ">
                      <!-- <h2>hi</h2> -->
                     <img src="https://z.nooncdn.com/cms/pages/20201011/0533a81bc35c9531f46de4aab2c014bb/en_drop-02.png" class="w-100" alt="">
                    </div>
                  </div>
                </div>
              </div>
              </div>
          </div>
        </ul>
      </div>

      <div class="dropdown1" >
        <button
          class="btn btn-light rounded-0"
          type="button"
          id="dropdownMenuButton9"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="text-center fw-bold" (click)=" categoryNavigate(10)">Supermarket</span>
        </button>
        <ul class="dropdown-menu center " aria-labelledby="dropdownMenuButton">
          <div class="container ">
            <div class="row   ">
              <div class="col-md-3">
                <span class="fw-bolder ">CATEGORIES</span>
                <ul class="CATEGORIESUL">
                  <a *ngFor="let item of childrenCategories; let i = index">
                    <li (click)=" categoryNavigate(item.id)" class="nav-link" href="#" *ngIf="i === 14 || i === 15">{{ item.name }}</li>
                  </a>
                </ul>
              </div>
              <div class="col-md-4">
                <span class="fw-bolder py-2">TOP BRANDS</span>
                <div class="row gy-2 ">
                  <div class="col-sm-5 border mx-1 p-2">
                  <div class="brand-logo ">
                    <img src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-22.png" class="w-100" alt="">
                  </div>
                  </div>
                  <div class="col-md-5 border mx-1 p-2 ">
                    <div class="brand-logo ">
                      <img src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/drop-brand-27.png" class="w-100" alt="">
                    </div>
                    </div>
                </div>
              </div>
              <div class="col-sm-5">
                <div class="row  d-flex align-items-center">
                  <div class="col-md-7" >
                    <div class="img-nav-brand ">
                      <!-- <h2>hi</h2> -->
                     <img src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/en_drop-06.png" class="w-100" alt="">
                    </div>
                  </div>
                  <div class="col-md-5 " >
                    <div class="img-nav-brand ">
                      <!-- <h2>hi</h2> -->
                     <img src="https://z.nooncdn.com/cms/pages/20200115/3335bf024f3b65b7be35bab3ce2bf882/en_drop-07.png" class="w-100" alt="">
                    </div>
                  </div>
                </div>
              </div>
              </div>
          </div>
        </ul>
      </div>

      <div >
        <a class="btn btn-light rounded-0">
          <span class="text-center fw-bold">Sell on noon</span>
        </a>
      </div>

      <div >
        <a class="btn btn-light rounded-0">
          <span class="text-center text-danger fw-bold">Deals</span>
        </a>
      </div>
    </ul>


  </div>
</header>



































