
    
<div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div *ngFor="let card of paymentCards" class="card my-3">
          <div class="card-body">
            <h5 class="card-title">{{ card.cardHolderName }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">**** **** **** {{ card.cardNumber | slice: -4 }}</h6>
            <p class="card-text">Expiration date: {{ card.expirationDate }}</p>
            <p class="card-text">CVV: {{ card.cvv }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>