
<div class="container-fluid" *ngIf="product">
  
            <div class="spa mx-2 mt-2">

                <a href="" class="lis">Home<span>></span></a>
                <a href="" class="lis"> Electronics & Mobiles <span>></span> </a>

                <a href="" class="lis">Mobiles & Accessories<span>></span></a>

                <a href="" class="lis">Mobile Phones <span>></span></a>
                <a href="" class="lis">Smartphones</a>
            </div>
            <div class="row " >

                <div class="col-md-1 m-4">

                    <div class="cont_img border border-3 rounded-2 border-muted">
                        <img [src]="product.images" class="w-100 " alt="">
                    </div>

                    <div class="cont_img border border-3 rounded-2 border-muted">
                        <img src="./images/N53363071A_1.avif" class="w-100 rounded-2" alt="">
                    </div>

                    <div class="cont_img border border-3 rounded-2 border-muted">
                        <img src="./images/N53363071A_1.avif" class="w-100 rounded-2" alt="">
                    </div>

                    <div class="cont_img border border-3 rounded-2 border-muted">
                        <img src="./images/N53363071A_1.avif" class="w-100 rounded-2" alt="">
                    </div>

                </div>

                <div class="col-md-3  d-flex align-items-center">

                    <div class="imge border border-1 rounded-2 border-muted bg-muted ">
                        <img [src]="product.images"  class="w-100" alt="">
                    </div>

                </div>
                <div class="col-md-4 my-5">

                    <div id="Best" class=" rounded-3 d-inline p-1 bg-dark">

                        <img src="./images/mouse-click-white.svg" class="ps-2" style="width:2rem; " alt="">
                        <span class="text-white p-1">Best Seller</span>
                    </div>

                    <div class="title">
                        <p class="pt-2">{{product.brand}}</p>

                        <h4>{{product.description}}</h4>
                        <span>Model Number : Galaxy A13 5</span>

                        <span>
                           

                        </span>

                        <div class="price d-flex my-2">
                            <span class="mx-1">Now :</span>
                            <h5 class="fw-bold mx-1">EGP {{ product.price}}</h5>
                            <span>(Inclusive of VAT)</span>

                        </div>

                        <div class="expres bg-info ">
                            <img src="./images/fulfilment_express_v2-en.svg" class="mx-4" alt="">
                        </div>


                        <div class="monthly my-5 background  p-2">
                            <img src="https://f.nooncdn.com/s/app/com/noon/icons/emi.svg" alt="">

                            <span style="font-size:0.9rem;"> Monthly payment plans from EGP 156</span>

                            <a href="" class="decro">View more details</a>
                        </div>

                        <div class=" d-flex border border-success border-2 rounded-4">
                            <div class="img-value  d-flex align-items-center ">
                                <img src="https://k.nooncdn.com/s/app/com/noon/images/valu-logo-v4.svg" class="w-100 ps-1" alt="">

                            </div>

                            <div class="tex p-2">
                                <span>
                                    Pay EGP 1866.33 monthly over 3 months with 0% interest and 0% purchase fees
                                </span>
                            </div>


                        </div>

                        <div class="w-100 m-auto my-3 ">
                            <a href=""><img src="https://f.nooncdn.com/mpcms/EN0003/assets/707dcf7e-9467-4bd9-8cfe-8d5ade48c8bd.png?format=avifundefined" class="w-100 ps-1"
                                    alt="">
                            </a>

                        </div>
                        <div class="tim-order  background ">
                            <p class="px-2 py-1 m-0 fs-6">Order in 17 hrs 7 mins</p>
                            <p class="px-2 py-1 fs-6">Free Delivery by<span class="fw-bold"> Fri, 28 July </span> </p>
                        </div>


                        <div class="addcart">
                            <span class="fw-bold" style="font-size:0.9rem;">Quantity</span>

                            <div class="count d-flex">
                                <div class="dropdown my-1 ">
                                    <a class="btn border border-1 dropdown-toggle" href="#" role="button"
                                        id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                        1
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item  " href="#">1</a></li>
                                        <li><a class="dropdown-item" href="#">2</a></li>
                                        <li><a class="dropdown-item" href="#">3</a></li>
                                    </ul>
                                </div>


                                <button class="form-control mx-3 text-white"
                                    style="background-color:rgb(43, 76, 215);">Add To Cart</button>


                            </div>







                        </div>




                    </div>














                </div>
                <div class="col-md-3 bord">
                    <div class="freerturn bordbottom py-3">
                        <img src="./images/free_returns.svg" alt="">
                        <span style=" font-size:0.9rem">Enjoy hassle free returns with this offer.</span>
                        <a href="" class="decro d-block">Learn more</a>

                    </div>

                    <div class="freerturn bordbottom py-2">
                        <img src="./images/warranty.svg" alt="">
                        <span style=" font-size:0.9rem">1 year warranty</span>
                        <a href="" class="decro">Learn more</a>

                    </div>

                    <a href="" class="text-decoration-none ">
                        <div class="freerturn  py-2 d-flex flex-nowrap">
                            <div>
                                <img src="./images/seller.svg" class="p-2"
                                    style="width:3rem;border: solid rgb(247, 243, 243);; border-radius:50% ;" alt="">

                            </div>

                            <div class="mx-2">

                                <div>
                                    <span style=" font-size:0.9rem" class="text-dark">Sold by </span>
                                    <a href="" style=" font-size:0.9rem" class="decro fw-bold">NOON</a>

                                </div>

                                <div class="">
                                    <span class="coloricon rounded-2 text-light">4.6</span>
                                    <span style=" font-size:0.8rem">80% positive Ratings</span>
                                </div>
                            </div>



                        </div>
                        <div class="d-block bordbottom pb-2">
                            <span style=" font-size:0.8rem" class="text-muted  ">1 Year Official Warranty</span>
                        </div>


                </a>

              
                    
                            <div class="d-flex justify-content-evenly border border-1 p-1" >
                                
                                    <div class="text-center">
                                        <img src="./images/badge_great_recent_rating.png" class="imgreet" alt="">
                                        <div class="textspan text-center">
                                            <span class="d-block">Greet Recent</span>
                                            <span>Rating</span>
                                        </div>
                                    </div>

                                
                               
                                    <div class="text-center">
                                        <img src="./images/badge_low_returns_seller.png" class="imgreet" alt="">
                                        <div class="textspan text-center">
                                            <span class="d-block">Greet Recent</span>
                                            <span>Rating</span>
                                        </div>
                                    </div>


                                    <div class="text-center">
                                        <h5 >90%</h5>
                                        <div class="textspan text-center">
                                            <span class="d-block">Greet Recent</span>
                                            <span>Rating</span>
                                        </div>
                                    </div>


                               
                               
                            </div>

                            <div class="freerturn bordbottom py-3 d-flex">
                                <img src="./images/free_returns.svg" class="d-flex align-items-center mx-1" alt="">
                                <div>
                                    <span  class="fw-bold d-block">FREE RETURNS</span>
                                    <span class="text-muted">Get free returns on eligible items</span>
                                </div>
                               
        
                            </div>
                           
   