
*{
  margin:0;
  padding:0;
  box-sizing:border-box;

}
:root{
  --whaitt:#f7f7fa;
  --blue:#007aff;
}


.navbar{
  height:4.1rem;
}

.navbar-brand {
  width:11%;

}
.image-nav{
  width:95%;
}
.image-nav img{
  width:90%;
}


.navbar{
  background-color:rgb(254,238,0);
}
.lines{
margin-top:1rem;
width:0.1rem;
height:1.7rem;
}
.dropdown1:hover>.dropdown-menu {
  display: block;

}

.dropdown1>.dropdown-toggle:active {

    pointer-events: none;


}
.iconnav{
  cursor: pointer;
  
}
.iconnav i{
color: rgb(254,238,0);
margin-right:0.5rem;
}


#btn-slider{
border: 0.2rem solid ;
  border-radius:50%;
  color:black;
}


#imgeSection2-slid{
width:5rem;
}
#imgeSection2-slid img{
margin: 0 1rem;
   }

  .infocuscol{
      background-color:var(--whaitt);
  }


  .CATEGORIESUL{
      text-decoration: none;
      list-style:none;
  }
  .CATEGORIESUL a :hover {
    color:var(--blue);
  }

.center {
  transform: translateX(-50%);
     left: 50% !important;
     width:100% !important;

 }
 .colortext{
  color:rgb(20, 19, 19) ;
  transition:0.3;
  border:none;
 }
 .colortext:hover{
 opacity:0.7;
 }
 .textbold{
  font-weight:600;
 }

 .search{
width:95%;
margin:auto;
 }
 .bg_main{
   background-color:rgb(56, 174, 4) !important;
   font-size:0.9rem;
 }
 .font_size {
  font-size:0.9rem !important;
 }

.carousel-pointer{
  cursor: pointer;
}
.fontTitl {
  font-size:0.9rem !important;
 }
.font {
  font-size:0.7rem !important;
  color:#404553;
 }

 .descriptionfooter{
  margin-bottom:0.5rem;
 }

 .countfooter
 {
  background-color:#f7f7fa;
 }

.coll{
color: #404553;
}

.bord
{
  border-bottom: 0.5px solid #888fa1 !important;
 ;
}

.textEnd a{
text-decoration: none !important;
color: #404553 !important;
padding:0 0.5rem ;
}

.imgesvis img{
  margin:0 0.5rem;
}
.textEn a{
  text-decoration: none !important;
  list-style:none;
  color: #404553 !important;

  }

  .textEn  a li{
    font-size:0.9rem;

  }
  /* 
  
  
  
  
  
  
  
  
  */

  *{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
:root{
    --whaitt:#f7f7fa;
    --blue:#007aff;
}


 .textstyle{
    text-decoration:none ;
    list-style:none;
 }

.textcolor{
color:var(--blue);
}

 .bord{
    border: none;
    box-sizing:0;
 }

 ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
   /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    /* content: "\25B6"; */
    
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }
 .wInput{
    width:4rem !important;
 }