<div class="container-fluid mb-4 m-auto px-3">
  <div class="row d-flex align-items-center">
    <!-- <div class="col-md-12 d-flex align-items-center"> -->



      <div
        id="carouselExampleDark"
        class="carousel carousel-dark slide w-100"
        data-bs-ride="carousel" >
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="0"
            style="background-color: rgb(254, 238, 0)"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="1"
            style="background-color: rgb(254, 238, 0)"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="2"
            style="background-color: rgb(254, 238, 0)"
            aria-label="Slide 3"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="3"
            style="background-color: rgb(254, 238, 0)"
            aria-label="Slide 4"
          ></button>
          <button
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide-to="5"
          style="background-color: rgb(254, 238, 0)"
          aria-label="Slide 5"
        ></button>
        <button
        type="button"
        data-bs-target="#carouselExampleDark"
        data-bs-slide-to="5"
        style="background-color: rgb(254, 238, 0)"
        aria-label="Slide 6"
      ></button>
        </div>

        <div class="carousel-inner m-auto" >
          <div class="carousel-item active " data-bs-interval="1500">
            <img
              [src]="catogries[0].imgUrl"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item" data-bs-interval="1500">
            <img
            [src]="catogries[1].imgUrl"
                          class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item " data-bs-interval="1500">
            <img
            [src]="catogries[2].imgUrl"              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item" data-bs-interval="1500">
            <img
            [src]="catogries[3].imgUrl"              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item" data-bs-interval="1500">
            <img
            [src]="catogries[4].imgUrl"              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item" data-bs-interval="1500">
            <img
            [src]="catogries[5].imgUrl"              class="d-block w-100"
              alt="..."
            />
          </div>





        </div>

        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="prev"
        >
          <span
            id="btn-slider"
            class="carousel-control-prev-icon p-sm-4"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="next"
        >
          <span
            id="btn-slider"
            class="carousel-control-next-icon p-sm-4"
            aria-hidden="true"
          ></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

</div>


<div class="container-fluid my-5" >
  <h3  class="my-3" style="text-align: center;">Products based on brand</h3>
  <div class="row d-flex just-content-between" >

    <div class="col-md-2 my-2"(click)="prdDetails(product.sku)" *ngFor="let product of products">

      <div class="card p-2 border-0 carousel-pointer "  style="width:14 rem; ">

      <owl-carousel-o [options]="customOptions">

          <ng-container *ngFor="let img of product.images" >
            <ng-template carouselSlide >
              <img [src]="urlImage+img" alt=" Img Product" class="w-100 " height="200"  >
            </ng-template>
          </ng-container>

        </owl-carousel-o>
        <div class="card-body  my-5">

          <p class="card-title text-muted">{{product.description.split(" ").splice(0,10).join(" ")}}</p>

          <p class="card-text  fw-bolder"><span class="text-muted" style="font-size:0.7rem;">EGP</span>{{product.price}}</p>
          <div class="icon-share-simple d-flex justify-content-between">
            <span><img src="../assets/images/fulfilment_express_v2-en.svg" style="width:4rem;" alt=""></span>
            <span >
              <span class="bg_main  rounded-3 text-light">{{product.reviews}}<i class="fa-solid fa-star text-light font_size"></i></span>
              <span class="font_size mx-1">{{product.quantity}}</span>
            </span>
          </div>
        </div>
      </div>

    </div>
    </div>
</div>
